* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: Comic Sans Ms, cursive, sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
    width: 100%;
}

.header {
    background: linear-gradient(to right, #5d90f8, #aa00ff);
    color: white;
    padding: 40px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
}

.main {
    flex: 3;
    min-width: 0;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.card {
    flex: 1;
    background-color: white;
    padding: 20px;
    gap: 8px;
    border-radius: 10px;
    border: 2px solid #efefef;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
    display: flex;
    flex-direction: column;
    /*max-height: 180px;*/
}

.card p {
    flex-grow: 1;
    overflow: auto;
}

.card-buttons {
    display: flex;
    gap: 10px;
    margin-top: auto;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.card button {
    flex: 1;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-height: 20px;
}

.blue {
    background-color: #528cff;
}

.pink {
    background-color: #ff82d1;
}

.card button:hover {
    background-color: rgb(225, 200, 255);
    color: black;
}

.footer {
    background-color: #333;
    color: white;
    padding: 40px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
}

.footerbar {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.link {
    background-color: #797979;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.link:hover {
    background-color: #636363;
}

.sidebar {
    flex: 1;
    padding: 20px;
    gap: 20px;
    margin: 15px 0 15px 0;
    background: rgb(229, 229, 229);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    text-decoration: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 0 15px 0;
    border-left: 6px solid #3169d8;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
}

.last-item {
    text-decoration: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 6px solid #3169d8;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
}

.info-block {
    margin-top: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.info-block p {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ababab;
    box-shadow: 0 4px 10px rgba(96, 96, 96, 0.185);
}